/* global styles */

:root {
    --main-color: #5b7b7a;
    --sec-color: #2b3b3a;
    --bg-color: #d8d8d8;

    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}


/* layout */

html {
    background: var(--main-color);
    color: var(--main-color);
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.form-div {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 7px 0px 0px var(--sec-color);
    border-radius: 10px;
    margin-top: 1rem;
    padding: 3rem;
    width: 500px;
    transition: box-shadow 0.2s ease-in-out;
}

.form-div:hover {
    box-shadow: 9px 9px 0px 0px var(--sec-color);
}


footer {    
    height: 12rem; 
    background: var(--sec-color);
    color: white;
    font-size: 1rem;   
    line-height: 2rem;
    width: 1000%;
    text-align: center;
    margin-top: 3rem;
}
.personnal-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: auto;
}

.form {
    margin-top: 1rem;
    width: 500px;
}

.div-interests {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

.other-div {
    max-width: 100%;
    min-width: 100%;
    margin: auto;
}

.location {
    margin: 10px 0px 0px 0px;
}

.row-interests {
    margin: 0.2rem;
    display: flex;
    align-items: center;
}

.text-div {
    max-width: 500px;
}


/* components */

.header-div {
    margin: auto;
    text-align: center;
    width: 100%;
}

.header-title {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    color: black;
    font-weight: 500;
    font-size: 5rem;
    margin-bottom: 1rem;
}

.header-desc {
    color: black;
    font-size: 1.2rem;
    margin-top: 0;
}

.form-title {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 2.7rem;
    font-weight: 300;
}

.div-sex {
    margin-top: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .form-div, .personnal-div {
    width: 100%;
    max-width: 600px;
    
  }


  .form-perso {
      height: 3rem;
      line-height: 3rem;
      margin: 0.7rem 0rem;
      box-sizing: border-box;
      padding: 10px;
      max-width: 100%;
      font-size: 1.5rem;
  }


  .input-label {
      align-self: flex-start;
      margin-top: 0.6rem;
  }

  .radio {
      margin-right: 5px; 
  }

  .radio-label {
      margin-right: 10px;
      color: black;
  }

  .text-area {
      width: 100%;
      /* lock the width of the text area */
      min-width: 100%;
      max-width: 100%;
      min-height: 7rem;
      max-height: 15rem;
      padding: 10px;
      margin: 0px;
      box-sizing: border-box;
      border-radius: 10px;
      font-size: 1.3rem;
  }


  .btn-submit {
      width: 100%;    
      font-size: 1.7rem;
      height: 3rem;
      text-transform: uppercase;    
      margin: 2rem 0rem;
      line-height: 3rem;   
  }

.checkbox-label {
    color: black;
    font-size: 1.5rem;
    margin-left: 5px;
}

.data-label {
    font-size: 1rem;
    color: black;
    margin: 2px 0px 0px 5px;
}

.data-data-structure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.data {
    display: none;
    height: 0px;
    /* opacity: 1; */
    /* transition: display 1s, height 1s, opacity 1s ease; */
    flex-direction: column;
    align-items: flex-start;
}


.row-data {
    display: flex;
    align-items: center;
}

.data-title {
    align-self: flex-start;
}

hr {
    margin: 2rem;  
    border: 0px; 
    height: 2px;
    background-color: black;
}

label {
    color: black;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    opacity: 0.7;
}

.perspective {
    box-shadow: 5px 5px 0px 0px var(--sec-color);
    transition: box-shadow 0.2s ease-in-out;
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-family: inherit;
    border: none;
}

.perspective:hover,
.perspective:focus,
.form-perso:active {
    box-shadow: 7px 7px 0px 0px var(--sec-color);
}

.perspective::placeholder {
    color: #DDD;
}