/* global styles */

:root {
    --main-color: #5b7b7a;
    --sec-color: #415857;
    --bg-color: #d8d8d8;

    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    animation: 300ms;
}


/* layout */

html {
    background: var(--sec-color);
    color: var(--main-color);
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    /* border: 2px dashed white; */
    /* padding: 1rem; */
    /* margin: 3rem; */
}

.form-div {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 0px 0px black;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 3rem;
    width: 500px;
}


footer {
        
    height: 12rem; 
    background: black;
    color: white;
    font-size: 1rem;   
    line-height: 2rem;
    width: 1000%;
    text-align: center;
    margin-top: 3rem;
}
.personnal-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: auto;
}

.form {
    margin-top: 1rem;
    width: 500px;
}

.div-interests {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
}

.other-div {
    max-width: 100%;
    min-width: 100%;
    margin: auto;
}

.row-interests {
    margin: 0.2rem;
}

.text-div {
    max-width: 500px;
}


/* components */

.header-div {
    margin: auto;
    text-align: center;
    background: black;
    width: 100%;
}

.header-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.form-title {
    font-style: italic;
    text-align: center;
    color: black;
    font-size: 2rem;
    font-weight: 300;
}

.div-sex {
    margin-top: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
}

  .form-div, .personnal-div {
    width: 100%;
    max-width: 600px;
    
  }


  .form-perso {
      height: 3rem;
      line-height: 3rem;
      margin: 0.7rem 0rem;
      box-sizing: border-box;
      padding: 10px;
      max-width: 100%;
      font-size: 1.5rem;
      border: none;
      border-radius: 10px;
      font-family: inherit;
      background: var(--main-color);
      box-shadow: 5px 5px 0px 0px black;
      color: white;

  }

  .form-perso:hover,
  .form-perso:active,
  .form-perso:focus {
      box-shadow: 7px 7px 0px 0px black;
      animation-duration: 2s;
  }


  .input-label {
      align-self: flex-start;
  }

  .radio {
      margin-right: 5px; 
  }

  .radio-label {
      margin-right: 10px;
      color: black;
  }

  .text-area {
      width: 100%;
      /* lock the width of the text area */
      min-width: 100%;
      max-width: 100%;
      min-height: 7rem;
      max-height: 15rem;
      padding: 10px;
      margin: 0px;
      box-sizing: border-box;
      border: none;
      box-shadow: 5px 5px 0 0 black;
      background: var(--main-color);
      border-radius: 10px;
      font-size: 1.3rem;
      font-family: inherit;
  }

  .text-area:hover,
  .text-area:active,
  .text-area:focus {
    box-shadow: 7px 7px 0 0 black;
  }

  .btn-submit {
      width: 100%;
      background-color: var(--main-color);
      border-radius: 10px;
      box-shadow: none;
      color: black;
      font-size: 2rem;
      height: 3rem;
      border: none;
      margin: 2rem 0rem;
      line-height: 3rem;
      font-family: inherit;
      cursor: pointer;
      box-shadow: 5px 5px 0 0 black;
  }

  .btn-submit:hover {
    box-shadow: 8px 8px 0px 0px black;
}

  .checkbox-label {
      color: black;
  }




hr {
    margin: 2rem;  
    border: 0px; 
    height: 2px;
    background-color: black;
}
